apiVersion: v1
kind: Pod
metadata:
  name: gluster-test
  namespace: {{ gluster_namespace }}
spec:
  containers:
    - name: busybox
      image: busybox
      command: ["sleep", "3600"]
      command: ["sh", "-c", "echo hello-from-test > /data/test.txt && sleep 60"]
      volumeMounts:
        - mountPath: "/data"
          name: gluster-volume
  volumes:
    - name: gluster-volume
      persistentVolumeClaim:
        claimName: {{ gluster_pvc_name }}
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: kubernetes.io/hostname
                operator: In
                values:
                  - {{ gluster_node_name }}
