- name: Probe all nodes into the GlusterFS trusted storage pool
  ansible.builtin.command: >
    gluster peer probe {{ item }}
  loop: "{{ groups['all'] }}"
  ignore_errors: true

- name: Check if the GlusterFS volume already exists
  ansible.builtin.command: gluster volume info {{ gluster_volume_name }}
  register: gluster_volume_check
  ignore_errors: yes

- name: Create the GlusterFS volume
  ansible.builtin.command: >
    gluster volume create {{ gluster_volume_name }} {{ gluster_brick_node }}:/mnt/glusterfs-brick force
  when: gluster_volume_check.rc != 0
  ignore_errors: yes

- name: Check if the GlusterFS volume already started
  ansible.builtin.command: gluster volume status {{ gluster_volume_name }}
  register: gluster_volume_status
  ignore_errors: yes

- name: Start the GlusterFS volume if it is not started
  ansible.builtin.command: >
    gluster volume start {{ gluster_volume_name }}
  when: gluster_volume_status.rc != 0
  ignore_errors: yes

- name: Verify GlusterFS volume status
  ansible.builtin.command: >
    gluster volume status {{ gluster_volume_name }}
  register: gluster_status

- name: Display GlusterFS volume status
  ansible.builtin.debug:
    var: gluster_status.stdout