---
- name: Ensure all unsaved data is flushed to disk
  ansible.builtin.command: sync
  changed_when: false

- name: Shutdown control node with delay
  become: true
  ansible.builtin.shell: /sbin/shutdown -h +1 "Shutting down in 1 minute..." && touch /var/run/shutdown-scheduled
  args:
    creates: /var/run/shutdown-scheduled
  register: shutdown_result
  async: 45
  poll: 0
  changed_when: true
  failed_when: false
