- name: Create mount point for GlusterFS volume
  ansible.builtin.file:
    path: /mnt/glusterfs-volume
    state: directory
    owner: root
    group: root
    mode: '0755'

- name: Mount GlusterFS volume (persistent + idempotent)
  ansible.posix.mount:
    path: /mnt/glusterfs-volume
    src: "{{ gluster_brick_node }}:/{{ gluster_volume_name }}"
    fstype: glusterfs
    opts: defaults,_netdev
    state: mounted
