apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grafana-ingress
  namespace: {{ helm_namespace }}
  annotations:
    kubernetes.io/ingress.class: traefik
spec:
  rules:
    - host: {{ grafana_hostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ helm_release }}-grafana
                port:
                  number: {{ grafana_port }}
