global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'node-temperature'
    static_configs:
      - targets:
        {% for host in groups['cluster'] %}
          - '{{ hostvars[host].inventory_hostname }}:{{ node_exporter_port }}'
        {% endfor %}