- name: Add Grafana Helm repository
  kubernetes.core.helm_repository:
    name: grafana
    repo_url: https://grafana.github.io/helm-charts

- name: Update local Helm repo cache
  ansible.builtin.command: helm repo update

- name: Create monitoring namespace
  kubernetes.core.k8s:
    state: present
    definition:
      apiVersion: v1
      kind: Namespace
      metadata:
        name: "{{ helm_namespace }}"
  environment:
    KUBECONFIG: "/home/{{ ansible_user }}/.kube/config"

- name: Deploy Grafana stack via Helm
  kubernetes.core.helm:
    name: "{{ helm_release}}"
    chart_repo_url: https://prometheus-community.github.io/helm-charts
    chart_ref: kube-prometheus-stack
    release_namespace: "{{ helm_namespace }}"
    create_namespace: true
  environment:
    KUBECONFIG: "/home/{{ ansible_user }}/.kube/config"

- name: Add Grafana hostnames to /etc/hosts
  ansible.builtin.lineinfile:
    path: /etc/hosts
    line: "{{ hostvars['rpi-node0'].ansible_host }} {{ grafana_hostname }}"
    state: present
  become: true
  delegate_to: localhost
  run_once: true