---
- name: Set Docker repo variables
  ansible.builtin.set_fact:
    docker_repo_base: >-
      {% if ansible_distribution == 'Ubuntu' %}
        https://download.docker.com/linux/ubuntu
      {% else %}
        https://download.docker.com/linux/debian
      {% endif %}
    docker_repo_release: >-
      {% if ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'oracular' %}
        jammy
      {% else %}
        {{ ansible_distribution_release }}
      {% endif %}

- name: Create keyrings directory
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: '0755'

- name: Download Docker GPG key
  ansible.builtin.command: >
    curl -fsSL {{ docker_repo_base | trim }}/gpg -o /etc/apt/keyrings/docker.asc
  args:
    creates: /etc/apt/keyrings/docker.asc

# - name: Download Docker GPG key
#   ansible.builtin.get_url:
#     url: "{{ docker_repo_base | trim }}/gpg"
#     dest: /etc/apt/keyrings/docker.asc
#     mode: '0644'

- name: Ensure trusted.gpg.d directory exists
  ansible.builtin.file:
    path: /etc/apt/trusted.gpg.d
    state: directory
    mode: '0755'

- name: Copy Docker GPG key to trusted.gpg.d
  ansible.builtin.copy:
    src: /etc/apt/keyrings/docker.asc
    dest: /etc/apt/trusted.gpg.d/docker.asc
    remote_src: yes
