---
- name: Enable and start Docker services
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: true
    state: started
  loop:
    - docker.service
    - containerd.service

- name: Add user to docker group
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: true

- name: Reboot after Docker install
  ansible.builtin.reboot:
    msg: "Rebooting after Docker installation"
    pre_reboot_delay: 5
    reboot_timeout: 600
    test_command: whoami
