---
- name: Read current cmdline
  slurp:
    src: /boot/firmware/cmdline.txt
  register: cmdline_raw

- name: Decode cmdline content
  set_fact:
    cmdline_line: "{{ cmdline_raw.content | b64decode | replace('\n', ' ') | trim }}"

- name: Add cgroup options only if missing
  copy:
    dest: /boot/firmware/cmdline.txt
    content: >-
      {{ (cmdline_line.split() + ['cgroup_memory=1', 'cgroup_enable=memory']) | unique | join(' ') }}
    mode: '0644'
  when: "'cgroup_memory=1' not in cmdline_line or 'cgroup_enable=memory' not in cmdline_line"
  notify:
    - reboot-node
    - wait-for-node
  changed_when: true

