- name: Ensure base directories exist
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "{{ nfs_base }}"
    - "{{ tftp_base }}"

- name: Check parameters for valid nodes
  ansible.builtin.import_role:
    name: params_check
    tasks_from: node_check.yml

- name: Check parameters for NVMe slot
  ansible.builtin.import_role:
    name: params_check
    tasks_from: slot_check.yml

- name: Build part_list map
  ansible.builtin.set_fact:
    part_list: "{{ part_list + [ {
      'node': item,
      'boot_part': nvme_map[item][slot_param].boot,
      'root_part': nvme_map[item][slot_param].root,
      'boot_dev': nvme_device ~ 'p' ~ nvme_map[item][slot_param].boot,
      'root_dev': nvme_device ~ 'p' ~ nvme_map[item][slot_param].root,
      'boot_mnt': tftp_base ~ '/' ~ item,
      'root_mnt': nfs_base ~ '/' ~ item } ] }}"
  loop: "{{ nodes_list }}"
  loop_control:
    label: "{{ item }}"

- name: Debug part_list map
  ansible.builtin.debug:
    var: part_list
  when: debug | default(false)
