---
- name: Provisioning NVMe device attached to control node (PCIe)
  hosts: control
  become: true
  gather_facts: false
  vars:
    images:           # Images map used to flash nodes
      node0: "https://old-releases.ubuntu.com/releases/24.04/ubuntu-24.04-preinstalled-server-arm64+raspi.img.xz"
      node1: "https://downloads.raspberrypi.com/raspios_full_arm64/images/raspios_full_arm64-2024-11-19/2024-11-19-raspios-bookworm-arm64-full.img.xz"

  roles:
    - nvme_provision

  # Example command line to run this playbook:
  # ansible-playbook playbooks/nvme_provision.yml -e nodes=node0,node1 -e slot=a -e nvme_format=true
