- name: Install PXE server on controller
  hosts: control
  become: true
  gather_facts: false
  vars:
    nfs_root_dir: /srv/nfs
    tftp_dir: /srv/tftp
  tasks:
    - name: Install NFS server on controller
      ansible.builtin.import_role:
        name: pxe_boot
        tasks_from: install_nfs.yml

    # - name: Install TFTP server on controller
    #   import_role:
    #     name: pxe_boot
    #     tasks_from: install_tftp.yml

    - name: Install DNS server on controller
      ansible.builtin.import_role:
        name: pxe_boot
        tasks_from: install_dnsmasq.yml

  # Set up PXE boot server (NFS, TFTP, DNS) on control node.
  # Example command line to run this playbook:
  # ansible-playbook -i inventories/production/hosts playbooks/pxe_boot.yml

