- name: Install PXE server on controller
  hosts: control
  become: true
  gather_facts: false

  roles:
    - pxe_server

  # Set up PXE boot server (NFS, TFTP, DNS) on control node.
  # Example command line to run this playbook:
  # ansible-playbook playbooks/pxe_server.yml -e nvme_nodes=node0,node1 -e nvme_slot=A
