---
- name: Pre-reboot on cluster nodes and trigger reboot
  hosts: cluster
  become: true
  gather_facts: false
  vars:
    boot_mode: nvme_prio                # Options: nvme_prio, sdcard_prio, net_prio
    boot_mode_expected: '^/dev/nvme'    # Options: nvme_prio: '^/dev/nvme'
                                        #          sdcard_prio: '^/dev/mmcblk'
                                        #          usb_prio: '^/dev/sd[a-z]'
                                        #          net_prio: '^(nfs:|nbd:|overlay:)'
  tasks:
    - name: Pre-reboot tasks (set BOOT_ORDER etc.)
      import_role:
        name: rpi_bootmode
        tasks_from: pre_reboot.yml

- name: Controller refresh trust and distribute keys
  hosts: local
  gather_facts: false
  tasks:
    - name: Controller-side SSH prep & key distribution
      import_role:
        name: ssh_config
        tasks_from: controller_keys.yml

- name: Post-reboot configuration on nodes
  hosts: cluster
  become: true
  gather_facts: false
  serial: 1
  vars:
    boot_mode: nvme_prio
    boot_mode_expected: '^/dev/nvme'
  tasks:
    - name: Wait for SSH to be available
      wait_for_connection:
        connect_timeout: 10
        sleep: 2
        delay: 1
        timeout: 120

    - name: Configure sshd & passwordless SSH on node
      import_role:
        name: ssh_config
        tasks_from: nodes_sshd.yml

    - name: Post-reboot tasks (verify root device, etc.)
      import_role:
        name: rpi_bootmode
        tasks_from: post_reboot.yml