grafana:
  enabled: true

  smtp:
    enabled: true
    host: "{{ smtp_host }}"
    user: "{{ smtp_user }}"
    password: "{{ grafana_smtp_password }}"
    fromAddress: "{{ smtp_user }}"
    fromName: "CPU Temperature Monitor"
    skipVerify: false
    startTLSPolicy: "NoStartTLS"
    # Options: "OpportunisticStartTLS", "MandatoryStartTLS", "NoStartTLS"

  envValueFrom:
    GF_SMTP_PASSWORD:
      secretKeyRef:
        name: grafana-smtp-secret
        key: GRAFANA_SMTP_PASSWORD

  env:
    GF_SMTP_ENABLED: "true"
    GF_SMTP_HOST: "{{ smtp_host }}"
    GF_SMTP_USER: "{{ smtp_user }}"
    GF_SMTP_FROM_ADDRESS: "{{ smtp_user }}"
    GF_SMTP_FROM_NAME: "CPU Temperature Monitor"
    GF_SMTP_SKIP_VERIFY: "false"
    GF_SMTP_STARTTLS_POLICY: "NoStartTLS"

prometheus-node-exporter:
  enabled: true

  extraArgs:
    - --collector.textfile.directory={{ node_exporter_collector }}

  hostRootFsMount:
    enabled: true

  extraVolumes:
    - name: textfile-collector
      hostPath:
        path: {{ node_exporter_collector }}
        type: DirectoryOrCreate

  extraVolumeMounts:
    - name: textfile-collector
      mountPath: {{ node_exporter_collector}}