---
- name: Restart SSH service
  ansible.builtin.service:
    name: ssh
    state: restarted
  become: true

- name: Reload SSH service
  ansible.builtin.service:
    name: ssh
    state: reloaded
  become: true
